@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto;
}

nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    list-style: none;
}

nav h2 {
    color: #f9faf8;
    font-size: 24px;
}

.hero-sec {
    color: #e5e7eb;
    font-size: 18px;
}

img {
    width: 250px;
}

#header-cont {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

button {
    border: none;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.blue-bg {
    background-color: #3882f6;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
}

.box {
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}