nav {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #e5e7eb;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}