nav {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #e5e7eb;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

#hero {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

#hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#hero p {
    color: #e5e7eb;
}

#hero button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 6px 25px;
    border-radius: 3px;
}